<!DOCTYPE html>
<html>
  <head>
    <title>RubyCrud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "rails-ujs" %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <script src="https://kit.fontawesome.com/5b9eaba683.js" crossorigin="anonymous"></script>
  </body>
</html>
